{{> head }}
    
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Acerca de</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint dolor laboriosam optio tenetur voluptas facilis blanditiis placeat repellendus, inventore facere ducimus vitae quas nemo magnam assumenda quae, ea consequatur! Quo?
        </p>
    </div>
    <div class="col-4">
        <img class="img-thumbnail" src="assets/img/info.jpg">
    </div>
</div>

{{> footer }}